.cadastro-form {
  padding: 24px;
  border-radius: 8px;
  background: #fff;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 24px;
}

@media (max-width: 700px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

.objetos-scroll {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 8px;
}

.objeto-grid {
  display: flex;
  gap: 12px;
  align-items: flex-end;
  background: #f5f5f5;
  border-radius: 6px;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 12px; /* ajuste o valor como preferir */
}

.mat-input-element {
  border-radius: 12px !important;
}

.numeros-serie {
  display: flex;
  gap: 8px;
}

.numeros-serie-vertical {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 8px;
}

.w-num-serie {
  width: 100%;
}

.nserie-container {
  max-height: 155px; 
  overflow-y: auto;
  padding-top: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nserie-row {
  display: flex;
  gap: 8px;
}
.nserie-col {
  flex: 1 1 0;
}